/* Borders of main sections to remove later */

#about-me section {
    border-style: solid darkblue 20px;

}

body {
    line-height: 1.2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    background-color: rgb(233, 233, 233);
    /*tried grid, didn't work
    display: grid;
    grid-template-areas:
        'header'
        'subhead'
        'menu'
        'main'
        'footer';
    grid-gap: 10px;
    padding: 10px;
    */
    }

/* Header */
header {
    margin-top: 25px;
    background-color: rgb(37, 37, 37);
    color: white;
    height: 6em;
    grid-area: header;
}

.logo {
    float: left;
    height: auto;
    width: 10vh;
    border: 2px solid black;
    margin-top: 1em;
    margin-left: 1em;
}

header h1 {
    display: inline-block;
    font-size: 32px; 
    margin-left: 3vh;
    margin-top: 0.5em;
}

header p {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-left: 19vh;
}

/* Nav bar */
header nav {
/* how to move it up higher? */
    margin-top: -20px;
    margin-right: 4em;
    float: right;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    margin-left: 25px;
}


/* brief opening statement */
.brief-open h2 {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    grid-area: subhead;
}

/* About me section */
#about-me {
    color: black;
    background-color: rgb(233, 233, 233);
    height: 10em;
    border: 2px solid orange;
    grid-area: menu;
}

/* profile picture in About Me section */
#about-me img {
    float: right;
    width: 12em;
    height: auto;
    margin-right: 10em;
    margin-top: 2em;
    border: 1px solid black;
}

/* About Me title to left */
.left-title {
    padding-left: 3em;
    padding-top: 2em;
    padding-right: 0.5em;
    width: 4.3em;
    border-right: 2px solid black;
    height: 5em;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start; /* why is it not at the top? */
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
    text-align: right;
}

/* Description about me */
.right-content {
    padding-left: 2em;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    height: 10em;
    font-size: 16px;
/* how to get it diff height than left-content... it is lining up with left title for some reason */
}

/* like about me section above */
#previous-work {
    color: black;
    background-color: rgb(233, 233, 233);
    height: 10em;
    border: 5px solid orange;
    grid-area: main; 
}

/* like left-title above */
#previous-work h2 {
    padding-left: 3em;
    padding-top: 2em;
    padding-right: 0.5em;
    width: 4.3em;
    border-right: 2px solid black;
    height: 100em; /* height should = height of entire work section */
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start; /* why is it not at the top? */
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    text-align: right;
}

.main-work-example {
    display: inline-flex;
    padding-left: 4.5em;
    padding-right: 2em;
    border: 5px solid blue; 
    position: relative;
}

/* like right-content above */
.main-work-example section {
    background-color: rgb(233, 233, 233);
    padding-left: 4.5em;
    padding-right: 10em;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 2px solid red;
    width: 90vh;
    height: auto;
    font-size: 16px;
/* how to get it diff height than left-content... it is lining up with left title for some reason */
}


.main-work-example section img {
    box-sizing: border-box;
    border: 5px solid yellow;
    width: 100vh;
    height: auto;
    position: relative;
}

.main-app-description {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 6px;
    border: 1px solid purple;
    background-color: purple;
    font-size: 16px;
}
.minor-work-examples {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 75vh);
    grid-template-rows: auto;
    gap: 1px;
    padding-left: 14.5em;

}

.minor-work-examples section {
    justify-self: flex-start;
    align-self: flex-start;
    border: 2px solid black;
    width: 70vh;
    height: auto;
    position: relative;
    margin: 8px;
}

.minor-work-examples section div img {
    box-sizing: border-box;
    border: 5px solid yellow;
    width: 70vh;
    height: auto;
    z-index: 0;
}

.app-description {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 6px;
    border: 1px solid purple;
    background-color: purple;
    font-size: 16px;
}

/* not working */
footer {
    
}

#contact-me {
    position: absolute;
    bottom: 0;
    width: 209vh;
    line-height: 1.2;
    border: 1px solid orange;
    grid-area: footer; 
}

#contact-me h2 {
    padding-left: 3em;
    padding-top: 2em;
    padding-right: 0.5em;
    width: 4.3em;
    border-right: 2px solid black;
    height: 5em;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start; /* why is it not at the top? */
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
    text-align: right;

}

#contact-me ul {
    list-style-type: none;
    padding-left: 2em;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    height: 10em;
    font-size: 16px;
    border: 2px solid teal;
}

#contact-me li {
    display: inline-block;
    margin-right: 25px;
}
