:root {
    --lightgray: rgb(233, 233, 233);
    --darkgray: rgb(37, 37, 37);
    --white: white;
    --black: black;
}
/* body */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--lightgray);
}


/* Header */
header {
    margin-top: 25px;
    background-color: var(--darkgray);
    color: var(--white);
    height: 6em;
}

.logo {
    float: left;
    height: auto;
    width: 10vh;
    border: 2px solid var(--black);
    margin-top: 1em;
    margin-left: 1em;
}

/* Name */
header h1 {
    display: inline-block;
    font-size: 32px; 
    margin-left: 3vh;
    margin-top: 20px;
}

/* Title */
header p {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-left: 19vh;
}

/* Nav bar in header */
header nav {
    margin-top: -20px;
    margin-right: 80px;
    float: right;
    font-size: 20px;
    color: var(--white);
    background-color: var(--darkgray);
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    margin-left: 25px;
}

/* brief opening statement */
.brief-open h2 {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: var(--lightgray);
}


/* About Me section */
#about-me {
    color: black;
    background-color: var(--lightgray);
    height: 170px;
    display: block;
    position: relative;
}

/* profile picture in About Me section */
#about-me img {
    float: right;
    width: auto;
    height: 150px;
    margin-right: 10em;
    margin-top: 0.5em;
    border: 1px solid var(--black);
}

/* About Me title to left */
.left-title {
    width: 120.4px;
    height: 150px;
    position: absolute;
    top: 14px;
    left: 84px;
    padding-right: 14px;
    border-right: 2px solid var(--black);
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

/* Description in About Me */
.right-content {
    padding-left: 32px;
    position: absolute;
    left: 208px;
    width: 50%;
    height: 160px;
    font-size: 16px;
}


/* Previous Work section */
#previous-work {
    color: black;
    background-color: var(--lightgray);
    height: 1050px;
    display: block;
    margin-top: 20px;
    position: relative;
}

/* Previous Work title to the left */
.left-title-2 {
    width: 120.4px;
    height: 1020px;
    position: absolute;
    top: 14px;
    left: 84px;
    padding-right: 14px;
    border-right: 2px solid var(--black);
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

/* Main Work image with description */
.main-work-example {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    position: absolute;
    left: 208px;
    width: 990px;
    height: 400px;
    font-size: 16px;
}

.main-work-example img {
    box-sizing: border-box;
    width: 900px;
    height: 400px;
    margin-left: 50px;
}

.main-app-description {
    position: absolute;
    z-index: 2;
    bottom: 8px;
    left: 88px;
    border: 1px solid purple;
    background-color: purple;
    padding: 9px;
    line-height: 26px;
}

.main-app-description h3 {
    font-size: 22px;
    font-weight: bold;
}

/* Minor Works images with descriptions in 2 x 2 grid */
.minor-work-examples {
    display: grid;
    grid-template-columns: repeat(2, 75vh);  
    grid-template-rows: auto;
    gap: 1px;
    margin-left: 212px;
    margin-top: 20px;
    width: 990px;
}

.minor-work-examples section {
    width: 430px;
    height: auto;
    position: relative;
    margin-left: 77px;
    margin-bottom: 20px;
    top: 440px;
}

.minor-work-examples section div img {
    box-sizing: border-box;
    width: 430px;
    height: auto;
}

.app-description {
    position: absolute;
    bottom: 10px;
    left: 6px;
    border: 1px solid purple;
    background-color: purple;
    font-size: 16px;
    padding: 9px;
    line-height: 26px;
}

.app-description h3 {
    font-size: 22px;
    font-weight: bold;
}


/* Contact Me section */
#contact-me {
    margin-top: 20px;
    background-color: var(--lightgray);
    color: var(--black);
    height: 150px;
    width: 990px;
    line-height: 1.2;
    display: block;
    position: relative;
}

/* Contact Me title to the left */
#contact-me aside p {
    padding-left: 84px;
    padding-top: 40px;
    padding-right: 14px;
    width: 120.4px;
    border-right: 2px solid black;
    height: 100px;
    font-size: 28px;
    text-align: right;
    font-weight: bold;
}

/* list of contact options */
#contact-me main ul {
    list-style-type: none;
    position: absolute;
    left: 208px;
    top: 50px;
    width: 990px;
    height: 60px;
    font-size: 20px;
    padding-left: 160px;
}

#contact-me main ul li {
    display: inline-block;
    margin-right: 75px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* On tablet at size 768px and above */
@media screen and (max-width: 992px) {
    /* Header-Nav bar */ 
    header {
        position: relative;
    }

    header nav {
        margin-top: 28px;
        padding-right: 0px;
        position: absolute;
        left: 0;
    }

    header nav li {
        display: block;
        background-color: rgba(128, 0, 128, 0.301);
        width: 130px;
        text-align: left;
        margin-left: 0px;
        padding: 4px;
        padding-left: 25px;
        font-size: 18px;
    }

    header nav li ul {
        color: white;
    }

    /* brief opening statement */
    .brief-open {
        display: block;
        margin-top: 100px;
        text-align: left;
    }
 
    /* About Me section */
    #about-me {
        height: 170px;
        display: block;
        position: relative;
        }

    /* profile picture in About Me section */
    #about-me img {
        display: block;
        width: auto;
        height: 75px;
        border: 1px solid var(--black);
        float: left;
        margin-left: 123px;
        margin-top: 70px;
    }

    /* About Me title to left */
    .left-title {
        display: block;
        font-size: 20px;
    }

    /* Description in About Me */
    .right-content {
        display: block;
        font-size: 14px;
        width: 67%;
    }

    /* Previous Work Section */
    #previous-work {
        height: 675px;  
        margin-top: 0;
    }
    
    /* Previous Work title to the left */
    .left-title-2 {
        display: block;
        font-size: 20px;
        height: 660px;
    }

    /* Main Work section incl image and descriptions */
    .main-work-example {
        width: 480px;
        height: 300px;
        font-size: 16px;
    }

    .main-work-example img {
        width: 520px;
        height: 300px;
        margin-left: -10px;
    }

    .main-app-description {
        bottom: 6px;
        left: 27px;
        padding: 3px;
        line-height: 20px;
    }

    .main-app-description h3 {
        font-size: 18px;
    }
    
    /* Minor Works sections incl images with descriptions in 2 x 2 grid */
    .minor-work-examples {
        margin-top: 10px;
        width: 540px;
        grid-template-columns: repeat(2, auto); 
        gap: 0;
    }

    .minor-work-examples section {
        width: 237px;
        margin-left: 25px;
        margin-bottom: 10px;
        top: 335px;
    }
    
    .minor-work-examples section div img {
        width: 237px;
    }

    .app-description {
        position: absolute;
        bottom: 10px;
        left: 6px;
        font-size: 12px;
        line-height: 1;
        width: 160px;
    }
    
    .app-description h3 {
        font-size: 16px;
        font-weight: bold;
    }
    
    /* Contact Me section */
    #contact-me {
        margin-top: 15px;
        height: 150px;  
        width: 750px;
    }

    /* Contact Me title to left */
    #contact-me aside p {
        display: block;
        font-size: 20px;
        padding-top: 60px;
    }

    /* list contact options */
    #contact-me main ul {
        padding-left: 38px;
        left: 200px;  
        top: 60px;
        width: 505px;
        font-size: 16px;
    }

    #contact-me main ul li {
        margin-right: 30px;
    }

    /* Footer */
    footer {
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}


/* On mobile device, under 768px */
@media screen and (max-width: 768px) {
    /* Nav bar */
    header nav li {
        background-color: rgba(128, 0, 128, 0.541);
    }

    .break {
        display: none;
    }
    
    /* About Me title to left */
    .left-title {
        width: 43px;
        left: 20px;
        border: none;
        margin-top: -15px;
    }

    /* profile picture in About Me section, move to left */
    #about-me img {
        margin-left: 13px;
        margin-top: 70px;
    }

    /* Description about me */
    .right-content {
        width: 72%;
        padding-top: 0px;
        padding-left: 10px;
        border-left: 2px solid;
        left: 116px;
    }

    /* Previous Work */
    #previous-work {
        height: 320px;
    }

    /* Decrease size of Previous Work title to the left */
    .left-title-2 {
        width: 95px;
        height: 540px;
        left: 5px;
        border-right: 2px solid black;
        margin-top: -15px;
        top: -220px;
    }

    /* Decrease size of Main Work image with description */
    .main-work-example {
        width: 320px;
        height: 250px;
        font-size: 12px;
        left: 120px;
        top: -250px;
    }

    .main-work-example img {
        width: 380px;
        height: 250px;
        margin-left: -30px;
    }

    .main-app-description {
        bottom: 6px;
        left: 16px;
        padding: 3px;
        line-height: 16px;
    }

    .main-app-description h3 {
        font-size: 16px;
    }

    /* Minor Works images with descriptions in 2 x 2 grid */
    .minor-work-examples {
        margin-top: 265px;
        width: 382px;
        margin-left: 120px;
    }

    .minor-work-examples section {
        width: 185px;
        margin-left: 2px;
        margin-bottom: 10px;
        top: 30px;
    }
    
    .minor-work-examples section div img {
        width: 185px;
    }

    .app-description {
        position: absolute;
        bottom: 9px;
        left: 6px;
        font-size: 12px;
        line-height: 1;
        width: 160px;
        padding: 1px;
        line-height: 14px;
    }
    
    .app-description h3 {
        font-size: 14px;
        font-weight: bold;
    }

    /* Contact Me section */
    #contact-me {
        height: 65px;
    }

    #contact-me aside {
        height: 60px;
        width: 104px;
        border-right: 2px solid black;
        margin-left: 10px; 
    }

    /* Contact me title to left */
    #contact-me aside p {
        font-size: 20px;
        height: 60px;
        width: 90px;
        padding: 0px;
        border: none;
    }

    /* list of contact options */
    #contact-me main ul {
        padding-left: 0px;
        left: 125px;  
        top: 15px;
        width: 395px;
        font-size: 15px;
    }

    #contact-me main ul li {
        margin-right: 10px;
    }

    /* Footer */
    footer { 
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
