/* Borders of main sections to remove later */

#about-me section {
    border-style: solid darkblue 20px;

}

body {
    line-height: 1.2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    background-color: rgb(233, 233, 233);
    }



header {
    margin-top: 25px;
    background-color: rgb(37, 37, 37);
    color: white;
    height: 6em;
}

.logo {
    float: left;
    height: auto;
    width: 10vh;
    border: 2px solid black;
    margin-top: 1em;
    margin-left: 1em;
}

header h1 {
    display: inline-block;
    font-size: 32px;
    margin-left: 3vh;
    margin-top: 0.5em;
}

header p {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-left: 19vh;
}


header nav {
/* how to move it up higher? */
    margin-top: -20px;
    margin-right: 4em;
    float: right;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
}



header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    margin-left: 25px;
}



.brief-open h2 {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
}

#about-me {
    color: black;
    background-color: rgb(233, 233, 233);
    height: 17em;
}

#about-me img {
    float: right;
    width: 12em;
    height: auto;
    margin-right: 8em;
    margin-top: 2em;
    border: 1px solid black;
}

.left-title {
    padding-left: 3em;
    padding-top: 2em;
    width: 3.5em;
    border-right: 2px solid black;
    height: 6em;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start; /* why is it not at the top? */
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
}

.right-content {
    padding-left: 2em;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 55%;
    height: 17em;
    font-size: 16px;
/* how to get it diff height than left-content... it is lining up with left title for some reason */
}

#previous-work {
    color: black;
    background-color: rgb(233, 233, 233);
}

.main-work-example {
    display: flex;
    padding-left: 3.5em;
    padding-right: 2em;
    
}


.main-work-example section {
    background-color: rgb(233, 233, 233);
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    width: 193.5vh;
    height: auto;
}

.main-work-example section div img {
    box-sizing: border-box;
    border: 5px solid yellow;
    width: 193.5vh;
    height: auto;
}

.minor-work-examples {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 1px;
    padding-left: 3em;
    padding-right: 2em;
}

.minor-work-examples section {
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    width: 95vh;
    height: auto;
}

.minor-work-examples section div img {
    box-sizing: border-box;
    border: 5px solid yellow;
    width: 95vh;
    height: auto;
}
